/* body */

body{
    background: #ffffff;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    background-attachment: fixed;
    background-position: center;
    height: 0%;
}

.pace .pace-progress{
    background: #fed14e;
}

.btn-success {
    background-color: #1ab394;
    border-color: #1ab394;
    color: white;
	width:45px;
}

.glyphicon.fa{
    font-family: 'Glyphicons Halflings';
}
/* shadow class for all elements */

.shadow{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

/* login page */

.loginscreen.middle-box {
    width: 350px;
}

#login-padding{
    padding: 5% 5% 5% 5%;
}

/*body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav li:hover > .nav-second-level, .mini-navbar .nav li:focus > .nav-second-level{*/
    /*height: 50px;*/
/*}*/

/*.mini-navbar li.active .nav-second-level{*/
    /*width: 150px;*/
    /*height: 90px;*/
/*}*/
/*.mini-navbar li.active .nav-second-level:hover{*/
    /*height: inherit !important;*/
/*}*/
.middle-box h1 {
    font-size: 100px;
    color: #19b293;
    letter-spacing: -5px;
    margin-bottom: 15px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.b-l{
    border-left: 1px solid #e7eaec;
}

.thumbnail{
    width: 100%;
    height: 100%;
}

.custom-lightbox{
    margin-left: -2%;
}

.chillax-logo{
    font-size: 40px;
    color: #ffffff;
    letter-spacing: 0px;
    font-weight: 800;
    margin-bottom: -10px;
    margin-top: -10px;
}
.chillax-logo:hover
{
    color: #e7e6e6;
}

.chillax-logo-small{
    font-size: 25px;
    color: #fff;
    letter-spacing: 0px;
    font-weight: 800;
    margin-bottom: -10px;
    margin-top: -10px;
    margin-left: 3px;
}

.chillax-logo-external{
    font-size: 45px;
    color: #fff;
    letter-spacing: 0px;
    font-weight: 800;
    margin-top: -7%;
    padding-left: 2%;
}

.widget {
    border-radius: 5px;
    padding: 30px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/*sidebar customizations */

@media (min-width: 769px) {
    .navbar-static-side {
        z-index: 2001;
        position: absolute;
        width: 212px;
    }
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 213px;
        min-height: 1200px;
    }
}

/*.nav.nav-second-level > li.active{*/
    /*margin-top: -4px;*/
/*}*/

/*.nav-second-level li:last-child{*/
    /*margin-bottom: 0px;*/
    /*margin-top: -4px;*/
/*}*/

.nav-second-level li:last-child{
    margin-bottom: 0px;
}

.nav > li.active {
    border-left: 4px solid #303534;
    background: rgba(0, 0, 0, 0.29);
}

#side-menu > li > a:hover{
    background: #212e39 !important;
}

.nav > li > a {
    /*color: #c5205a;*/
    font-weight: 600;
    padding: 14px 20px 14px 25px;
}

#side-navigation{
   background: #2f4050;
    position: fixed;
    top: 0px;
    bottom: 0px;
    box-shadow: none;
}

#page-wrapper{
    background: transparent;
}

.footer{
    background: #2f4050;
    border-top: 0px;
    color: white;
}

.breadcrumb{
    background: transparent;
}

.page-heading{
    color: white;
    padding: 0px 0px 0px 10px;
}

.wrapper-content {
    padding: 10px 10px 40px;
}

#top-navigation{
    background: #ffffff;
    padding-bottom: 10px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.border-bottom{
    border-bottom: 0px;
}

.navbar-minimalize {
    background: #2f4050;
    border: 0px;
    color: white;
}

.navbar-minimalize:hover , .navbar-minimalize:focus{
       background: #2f4050;
    border: 2px solid #2f4050;
    color: white;
}

.nav.navbar-right > li > a{
    color: #555555;
    padding-top: 20px;
}

body.mini-navbar .nav-header{
    background: transparent;
}

.style1{
    background: rgba(0, 0, 0, 0.39);
    color: white;
}

.ibox{
    background: #fff;
    border-radius: 7px;
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.13);
}

.ibox-title{
        border-color: white;
    color: #ffffff;
    background: #2f4050;
    border-width: 0px;
    box-shadow: none;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid #2f4050;
}

.ibox-content{
    border-color: white;
    color: black;
    background: #f3f3f4;
}

.ibox-content .tag {
    width: 100%;
    float: left;
    background: #fed14e;
    padding: 10.2px 10px;
    position: relative;
    color: #005377;
    font-size: 15px;
    letter-spacing: 1px;
}

.ibox-content .tag:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: -11px;
    border-top: 6px solid rgba(0, 0, 0, 0);
    border-left: 11px solid #fed14e;
    border-bottom: 6px solid rgba(0, 0, 0, 0);
    top: 14px;
}


.ibox-content form input , .ibox-content form textarea{
    width: 100%;
    padding: 7px 10px 6px 15px;
    outline: none;
    font-size: 17px;
    letter-spacing: 1px;
    float: left;
    border-radius: 8px;
    background: white;
    border: 1px solid #2f4050;
    color: #2f4050;
}

.ibox-content form input::-webkit-input-placeholder ,.ibox-content form textarea::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
    color: #777c80;
}
.ibox-content form input::-moz-placeholder , .ibox-content form textarea::-moz-placeholder{ /* Firefox 19+ */
    color: #777c80;
}
.ibox-content form input:-ms-input-placeholder , .ibox-content form textarea:-ms-input-placeholder{ /* IE 10+ */
    color: #777c80;
}
.ibox-content form input:-moz-placeholder , .ibox-content form textarea:-moz-placeholder{ /* Firefox 18- */
    color: #777c80;
}

.ibox-content form select{
    width: 100%;
    padding: 7px 10px 6px 15px;
    outline: none;
    font-size: 17px;
    letter-spacing: 1px;
    float: left;
    background: white;
    border: 1px solid #2f4050;
    color: #2f4050;
    height: 40px;
    border-radius: 8px;
    /*-webkit-appearance: none;*/
    cursor: pointer;
}

.ibox-content select{
  background: rgb(255, 255, 255);
    border: 1px solid #c7c6c6;
    width: 238px;
    border-radius: 8px;
    outline: none;
    color: #555;
    padding: 5px;
}
.ibox-content .table-size-selector{
    margin-bottom: 10px;
}

.form-control:focus, .single-line:focus{
    border-color: #fff !important;
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 25px;
    width: 25px;
    border: 3px solid white;
    background: transparent;
}
.control--radio .control__indicator {
    border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: transparent;
    border: 3px solid white;
}
.control input:checked ~ .control__indicator {
    border: 3px solid white;
    background: transparent;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: transparent;
}
.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control__indicator:after {
    display: block;
}
.control--checkbox .control__indicator:after {
    left: 3px;
    top: 3px;
    width: 12px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: scaleX(-1) rotate(415deg);
    -moz-transform: scaleX(-1) rotate(415deg);
    -o-transform: scaleX(-1) rotate(415deg);
    -webkit-transform: scaleX(-1) rotate(415deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}

tags-input .tags .tag-item .remove-button{
    margin: 0 0 0 5px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    vertical-align: middle;
    font: bold 16px Arial, sans-serif;
    color: #585858;
    display: initial;
}

tags-input .host{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

tags-input .tags{
    min-height: 40px !important;
    background: transparent;
    border: 2px solid white !important;
}

tags-input .tags .tag-item{
    border: 2px solid white !important;
}

tags-input .tags .tag-item .remove-button{
    color:#fff !important;
}

tags-input .tags .input{
    min-width: 300px !important;
}

.textAnswer tags-input .tags .input{
    width: 100% !important;
}

.theme-btn{
   background-color: rgb(47, 64, 80);
    /* width: 100%; */
    color: #ffffff;
    height: 42px;
    outline: none;
    border: 2px solid;
    border-radius: 8px;
    font-size: 17px;
    padding: 5px;
    cursor: pointer;
    border-color: #2f4050;
    margin-top: 30px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
}

.theme-btn:hover{
    background: #172129;
    color: #fff;
}

.filter-btn{
    background-color: #005377;
    width: 50%;
    color: #fff;
    height: 35px;
    outline: none;
    border: none;
    font-size: 17px;
    cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.filter-btn:hover{
    background:#fed14e;
    color:#000;
}

.challenge-arr{
    border: 2px solid #2f4050;
    padding: 21px;
    margin-bottom: 20px;
    /* position: relative; */
    height: 350px;
}

/*autocomplete settings*/

.pac-container {
    background: rgba(0, 0, 0, 0.89);
    opacity: 0.9;
}

.pac-item{
    color: white;
}

.pac-item-query {
    color: #fff;
}

.pac-item-selected, .pac-item-selected:hover {
    background-color: #999;
}

.pac-item:hover {
    background-color: #999;
}

.file{
    visibility: hidden;
    position: absolute;
}

.file-style .file-row-1{
    width: 10%;
    float: left;
}

.file-style .file-row-1 .input-group-addon{
    background: #b2b2b2;
    border-radius: 8px;
    border: 2px solid white;
    height: 40px;
}

.file-style .file-row-2{
    width: 80%;
    float: left;
}

.file-style .file-row-2 input{
    height: 40px;
    background: #b2b2b2;
    border-left: 0px;
    width: 100%;
}

.file-style .file-row-3{
    width: 20%;
    float: left;
}

.file-style .file-row-3 button{
    background: #b2b2b2;
    border: 2px solid white;
    border-left: 0px;
    border-radius: 8px;
    width: 100%;
    padding: 6px 3px;
    height: 40px;
    outline: none;
}
.glyphicon glyphicon-search{
        color: #73264d;
}

/* Custom Datepicker */
.applyBtn{
    background-color: #fdd14e;
    border-color: #fdd14e;
    color: #0b5974;
}
.daterangepicker{
    background-color: rgba(0, 0, 0, 0.48) !important;
}
.daterangepicker td.active, .daterangepicker td.active:hover{
    background-color: #185f72 !important;
}
.daterangepicker td.in-range{
    background-color: #fed14e !important;
}

/* Datatable */
.table-striped>tbody>tr:nth-of-type(odd),.table-bordered > thead > tr > th, .table-bordered > thead > tr > td{
    background: #e7e6e6 !important;
}
div.dataTables_wrapper div.dataTables_length select,div.dataTables_wrapper div.dataTables_filter input{
    background: #bababa !important;
	border-radius: 8px;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover{
    background: transparent !important;
    color: black;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background: rgba(0, 0, 0, 0.55) !important;
}
.table-bordered {
    border: 2px solid white;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td
{
    border-bottom: 2px solid white;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 2px solid white;
}
.pagination > li > a, .pagination > li > span{
    background: transparent;
	color: black;
}

/* table inside modal */
.modal-dialog {
    max-width: 700px;
}
.modal-sm{
    width: 400px;
}
.table-popup{
    border: 2px solid #888484;
    border-top: 2px solid grey;
}
.modal-dialog .table-popup > thead > tr > th, .table-popup > tbody > tr > th, .table-popup > tfoot > tr > th, .table-popup > thead > tr > td, .table-popup > tbody > tr > td, .table-popup > tfoot > tr > td{
    border: 2px solid #888484;
    border-top: 2px solid grey;
}
.custom-tags{
    border: 2px solid grey;
    padding: 5%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    margin-bottom: 3%;
}
.custom-tags-keywords{
    border: 2px solid grey;
    -webkit-border-radius: 5px;
    display: block;
    float: left;
    padding: 5px;
    text-decoration: none;
    margin-right: 5px;
    margin-bottom: 5px;
}
.modal-open .modal{
    overflow-y: hidden;
}
.table .theme-btn,.modal-open .theme-btn{
       background-color: rgb(47, 64, 80);
    width: 100px;
    color: #ffffff;
    height: 42px;
    outline: none;
    border: 2px solid;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    border-color: #2f4050;
    margin-top: 20px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.table .theme-btn:hover , .modal-open .theme-btn:hover{
   background: #1d9887;
    color: #f3f3f4;
}
.table .theme-btn-danger{
        background-color: #ec4758;
    width: 45px;
    color: #fff;
    padding: 5px 5px 5px 5px;
    outline: none;
    border: none;
    border-radius: 0px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 5px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.table > tbody > tr > td
{
    vertical-align: middle;
    border:none;
}
.table > thead > tr > th {
    border-bottom: none;
}
.table .theme-btn-danger:hover{
   background: #1ab394;
    color: #f3f3f4;
}
.dataTables_wrapper{
    padding-bottom: 20px;
}
.pagination{
    margin: 0px;
}

/* UI Select */
.ui-select-bootstrap .ui-select-toggle{
    background: transparent;
    color: white !important;
}
.ui-select-bootstrap > .ui-select-match > .btn:hover,.ui-select-bootstrap > .ui-select-match > .btn:focus{
    background: transparent !important;
}
.btn-default-focus{
    background: transparent !important;
}
.ui-select-bootstrap .ui-select-choices-row>span{
    color: white !important;
}
.ui-select-bootstrap .ui-select-choices-row.active>span{
    background-color: rgba(255, 255, 255, 0.3) !important;
}
.ui-select-bootstrap > .ui-select-choices, .ui-select-bootstrap > .ui-select-no-choice{
    background: rgba(0, 0, 0, 0.84) !important;
}
.ui-select-choices-row:hover{
    background-color: rgba(245, 245, 245, 0.99) !important;
    color: black;
}
.ui-select-bootstrap .ui-select-choices-row>span:hover, .ui-select-bootstrap .ui-select-choices-row>span:focus{
    background-color: rgba(245, 245, 245, 0.99) !important;
    color: black;
}
.ui-select-bootstrap .ui-select-choices-row>span:hover{
    color: black !important;
}
.ui-select-container input{
    background: transparent;
    color: white;
}
.ui-select-bootstrap .text-muted{
    color: white !important;
}


.searchinput{
        background: #c7c6c6;
    color: #be1f57;
    border: 2px solid white;
    outline: none;
    padding-left: 10px;
    width: 80%;
    height: 38px;
    border-radius: 8px;
}
.searchinput::-webkit-input-placeholder{
    color: #777c80;
}

.searchinput::-moz-placeholder{
    color: #777c80;
}

.searchinput:-ms-input-placeholder{
    color: #777c80;
}

.searchinput:-moz-placeholder{
    color: #777c80;
}
.searchbutton{
    background: #2f4050;
    border: 2px solid white;
    width: 19%;
    height: 38px;
    border-radius: 8px;
}
select option{
    background: rgb(47, 64, 80) !important;
    color: white;
    font-weight: 800;
    overflow-x: scroll;
    margin: 5px;
}
@-moz-document url-prefix() {
    div.dataTables_wrapper div.dataTables_length select {
        padding: 0px 0px 0px 15px;
        width: 75px;
        display: inline-block;
    }
}
.list_category
{
    color: #212e39;
}
.custom
{
    background: white;
background-size: cover;
font-family: 'Open Sans', sans-serif;
background-attachment: fixed;
background-position: center;
height: 0%;
}
.modal-header
{
    background: #c5205a;
}
.modal-title
{
    color:#2c0917;
}
.table .table
{
    background-color: transparent;
    margin-bottom: 0px;
}
.form-container
{
    max-width: 700px;
    margin:0 auto;
}
.input-container
{
    width: 100%;
    margin-top: 20px;
}
th
{
    text-align:center;
}
/*@media (max-width: 769px){
.body-small .navbar-static-side {
    display: block !important;
     z-index: 2001; 
     position: absolute; 
     width: 27.6%; 
}
}*/
.logo{
        width: 300px;
    margin: 170px auto;
}
.display-none{
    display:none !important;
}
.attach-button{
        background: #2f4050;
    width: 200px;
	margin-top:20px;
    border-radius: 10px !important;
    padding: 11px;
}
.attach-button:hover{
background-color: #172129;
   /* border-color: #ffffff;*/
    color: #FFFFFF;
}
ul{
    list-style-type: none;
}
.left-padding-none{
    padding-left: 0px;
}
.left-width{
    width:25%;
    float:left;
}
@media screen and (max-width: 728px){
    .left-padding-none{
        padding-left:0px;
    }
}
@media screen and (max-width: 500px){
.modal-body {
    padding: 20px 0px 30px 0px;
}
}
.user_detail {
	background: #e7e6e6;
	padding: 5px;
    margin-bottom: 10px;
}
.order{
	background: #e7e6e6;
}
.button {
    background-color: #2f4050;
    border: none;
    color: white;
    width: 100px;
    padding: 5px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 8px;
    margin-top: 20px;
}
i.fa.fa-plus-circle.roop {
    font-size: 30px;
}
.modal-open {
    overflow: hidden !important;
}
.show-img
{
	float: left;
    /* padding: 20px; */
    margin: 20px;
}
.uib-datepicker-popup.dropdown-menu {
        display: block;
        float: none;
        margin: 0;
        padding-bottom: 11px;
        box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.28);
    }

.default
{
background-color: #ffffff;
    color: #000000;
    border: 1px solid #2f4050;
}
.custom-select{
	width: 330px !important;
    padding: 7px 10px 6px 15px;
    outline: none;
    font-size: 17px;
    letter-spacing: 1px;
    float: left;
    background: white !important;
    border: 1px solid #2f4050;
    color: #2f4050;
    height: 40px;
    border-radius: 8px;
    -webkit-appearance: none;
    cursor: pointer;
}
.btun
{
	border-color: #2f4050 !important;
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;	
}
.button.dropdown-toggle.btn.btn-default
{
	width: 330px !important;
    padding: 7px 10px 6px 15px;
    outline: none;
    font-size: 17px;
    letter-spacing: 1px;
    float: left;
    background: white !important;
    border: 1px solid #2f4050;
    color: #2f4050;
    height: 40px;
    border-radius: 8px;
    -webkit-appearance: none;
    cursor: pointer;
}
.add
{
	margin-bottom: 50px;
}
nav#side-navigation {
    height: 100%;
    
}
.action
{
	width: 70px !important;
    padding: 7px !important;
    border-radius: 4px!important;
    border: none;
    color: #fff !important;
    background-color: #286090 !important;
}
.modal-select
{
width: 217px !important;
    padding: 7px 10px 6px 15px;
    outline: none;
    font-size: 17px;
    letter-spacing: 1px;
    float: left;
    background: white !important;
    border: 1px solid #2f4050;
    color: #2f4050;
    height: 40px;
    border-radius: 8px;
    -webkit-appearance: none;
    cursor: pointer;
}
span.stars, span.stars span {
    display: block;
   /* Download the star image here: http://stackoverflow.com/questions/1987524/turn-a-number-into-star-rating-display-using-jquery-and-css */
    background: url('https://apppresser.com/wp-content/uploads/2015/11/stars.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

.alignright {
  float:right;
}
label.btn.btn-default.attach-button:hover {
    color: #172129;
}
select#vendor, select#date_type {
    background-color: white;
}
button.filter.btn-primary.mb-15 {
    width: 55px;
    padding: 5px;
	background: #2f4050;
}
button.filter.btn-primary.mb-15:hover {
	background-color: #286090;
    border-color: #286090;
    color: #FFFFFF;
	width: 55px;
    padding: 5px;
	background: #2f4050;
}
.margin {
	margin-top: 10px;
}
.no-margins{
	float: right}
.soze {
	font-size: 32px;
}
button.dropdown-toggle {
	width: 340px;
	background: white;
	color:black;
	border-radius: 8px;
	padding: 9px;
	border-color: black;
}
.non
{
	margin-top: 0px !important;
}
.modal-btn
{
	width: 50px !important;
	margin-top:30px !important;
}
