body {
    background:url('../img/background.png') no-repeat 0px 0px;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    background-attachment: fixed;
    background-position: center;
    height: 0%;
}
#btw-title {
    color: #FFF;
    text-align: center;
    letter-spacing: 5px;
    font-size: 40px;
    font-weight: 900;
    margin-top: 35px;
}
.row-padding{
    margin-left: 0px;
    margin-right: 0px;
}
.login-container {
    width: 100%;
    margin: 50px auto;
    text-align: center;
  /*  background: rgb(255, 255, 255);*/
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#loginNow {
    font-size:	30px;
    color: #727cb6;
    font-weight: 700;
    padding-top: 45px;
    letter-spacing:3px;
    padding-bottom: 15px;
}

.login-w3{
    margin-bottom: 10px;
    margin-top: 40px;
}

.loginForm {
    padding: 18px;
}

.loginForm .form-group{
    margin-bottom: 20px;
}

.loginForm .tag {
    width: 100%;
    float: left;
    background: #fed14e;
    padding: 10.2px 10px;
    position: relative;
    color: #005377;
    font-size: 15px;
    letter-spacing: 1px;
}

.loginForm .tag:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: -11px;
    border-top: 6px solid rgba(0, 0, 0, 0);
    border-left: 11px solid #fed14e;
    border-bottom: 6px solid rgba(0, 0, 0, 0);
    top: 14px;
}

input.name {
    width: 100%;
    padding:7px 10px 10px 15px;
    border: none;
    outline: none;
    font-size: 17px;
    letter-spacing: 1px;
    float:left;
    background: white;
    border: 2px solid rgba(0, 0, 0, 0.19);
    color: black;
}

input.name::-webkit-input-placeholder{
    color: #9a9a9a;
}

input.name::-moz-placeholder{
    color: #9a9a9a;
}

input.name:-ms-input-placeholder{
    color: #9a9a9a;
}

input.name:-moz-placeholder{
    color: #9a9a9a;
}

input.password {
    width: 100%;
    padding:7px 10px 10px 15px;
    border: none;
    outline: none;
    font-size: 17px;
    letter-spacing: 1px;
    float:left;
   background: white;
    border: 2px solid rgba(0, 0, 0, 0.19);
    color: black;
}

input.password::-webkit-input-placeholder{
    color: #9a9a9a;
}

input.password::-moz-placeholder{
    color: #9a9a9a;
}

input.password:-ms-input-placeholder{
    color: #9a9a9a;
}

input.password:-moz-placeholder{
    color: #9a9a9a;
}

.login-w3 .loginForm-group{
    margin-bottom: 20px;
}

.white-error-email > small{
    color: black;
    font-size: 15px;
}

.white-error-password > small{
    color: black;
    font-size: 15px;
}

input[type="submit"]{
   background-color: #333;
    width: 100%;
    color: #fff;
    font-weight: 700;
    padding: 11px;
    outline: none;
    border: 2px solid #333;
    font-size: 17px;
    cursor:pointer;
    margin-top:5px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

input[type="submit"]:hover{
    background: rgba(114, 124, 182, 0);
    color: #333;
    font-weight: 600;
    border: 2px solid #333;
}

body.stop-scrolling{
    height: 100%;
    overflow: hidden !important;
}
