<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox float-e-margins shadow">
                <div class="ibox-title">
                    <h5>Create category</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="form-container">

                        <form novalidate name="categoryForm" ng-submit="createCategory(categoryForm.$valid)">
                            <div class="row form-group">
                                <label>Category Name</label>
                                <input type="text" name="name" ng-model="category.name" placeholder="Category Name" class="form-control" required>
                                <div class="white-error-email" ng-show="categoryForm.$submitted || categoryForm.name.$dirty && categoryForm.name.$invalid">
                                    <small ng-show="categoryForm.name.$error.required">
                                                        Category Name is required.
                                                    </small>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label>Category Description</label>
                                <textarea maxlength="100" name="name1" ng-model="category.desc" placeholder="Description" class="form-control" required></textarea>
                                <div class="white-error-email" ng-show="categoryForm.$submitted || categoryForm.name1.$dirty && categoryForm.name1.$invalid">
                                    <small ng-show="categoryForm.name1.$error.required">
                                                       Description is required.
                                                    </small>
                                </div>
                            </div>
						
                            <div class="row form-group">
                                <label>Opening time*</label>
                                <div uib-timepicker name="otime" required ng-change="change()" ng-model="opTime" hour-step="1" minute-step="1" show-meridian="true"></div>

                                <div class="white-error-email" ng-show="categoryForm.$submitted || categoryForm.otime.$dirty && categoryForm.otime.$invalid">
                                    <small ng-show="categoryForm.otime.$error.required">
                                                       Time is required.
                                                    </small>
                                </div>
                            </div>
						
                            <div class="row form-group">
                                <label>Closing time*</label>
                                <div uib-timepicker name="ctime" required ng-model="clTime" hour-step="1" minute-step="1" show-meridian="true"></div>

                                <div class="white-error-email" ng-show="categoryForm.$submitted || categoryForm.ctime.$dirty && categoryForm.ctime.$invalid">
                                    <small ng-show="categoryForm.ctime.$error.required">
                                                       Time is required.
                                                    </small>
                                </div>
                                <div class="white-error-email" ng-show="opTime>clTime ">
                                    Closing time should be greater.
                                </div>

                            </div>
                            <div class="row form-group">
                                <label>Different Screen*</label>
                                <select required name="screen" class="form-control" ng-model="screen">
                                   <option value="" disabled>Select</option>
                                   <option value="true" >True</option>
                                   <option value="false" >False</option>
                                   </select>
                                <div class="white-error-email" ng-show="categoryForm.$submitted || categoryForm.screen.$dirty && categoryForm.screen.$invalid">
                                    <small ng-show="categoryForm.screen.$error.required">
                                                       Required.
                                                    </small>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label>Category Image</label>
                                <input type="file" style="padding:0px; border: none; background: inherit;" ngf-select ng-model="file" name="file" accept="image/*"
                                    ngf-max-size="5MB" required ngf-model-invalid="errorFile">

                                <div class="white-error-email" ng-show="categoryForm.$submitted || categoryForm.file.$dirty && categoryForm.file.$invalid">
                                    <small ng-show="categoryForm.file.$error.required">
                                                       Image is required.
                                                    </small>
                                </div>
                            </div>
                            <div class="row form-group">
                                <button ng-disabled="opTime>clTime" class="theme-btn" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>