<div class="wrapper wrapper-content">

    <div class="row no-margin">
        <div class="col-md-12">
            <button class="filter btn-primary mb-15" role="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                aria-controls="collapseExample">
        Filters
        </button>
        </div>
    </div>

    <div class="collapse" id="collapseExample">
        <div class="row no-margin">
            <div class="col-md-12 margin">
                <div class="well">
                    <div class="row">
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">Select Vendor</label>
                                <select name="color" placeholder="Select vendor" ng-change="changeData()" class="form-control chosen-select" ng-model="vendor">
                                        <option value="" disabled selected>Select vendor</option>
                                        <option ng-repeat="data in vendorList" value="{{data._id}}">{{data.name}} ({{data.email}})</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">Select Date Type</label>
                                <select name="color" placeholder="Select date type" class="form-control chosen-select" ng-change="changeData()" ng-model="type	">
                                    <option value="" disabled selected>Select type</option>
                                    <option value="Today">Today</option>
									<option value="Monthly">This Monthly</option>
									<option value="Custom">Custom Dates</option>
                               </select>
                            </div>
                        </div>
                    </div>
					<div class="row">

                        <div class="col-xs-4  col-sm-4  col-md-3">
                            <div class="form-group">
                                <label class="control-label">Start from</label>
                                <p class="input-group">
                                    <input type="text" ng-disabled = 'type != "Custom"' class="form-control" onkeydown="return false" uib-datepicker-popup="dd/MM/yyyy" ng-model="start" is-open="popup1.opened" />
                                    <span class="input-group-btn"> <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button> </span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3  col-sm-4  col-xs-4">
                            <div class="form-group">
                                <label class="control-label">Till date</label>
                                <p class="input-group">
                                    <input type="text" ng-disabled = "!start" class="form-control" onkeydown="return false" uib-datepicker-popup="dd/MM/yyyy" ng-model="till" is-open="popup2.opened" datepicker-options="dateOptions" />
                                    <span class="input-group-btn"> <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button> </span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3  col-sm-4  col-xs-4">
                            <div class="form-group">
                                <label class="control-label">Actions</label><br>
                                <button class="btn" type="button" ng-disabled = "!till" ng-click="apply()">Apply</button>
                                <button class="btn " type="button" ng-click="reset()">Reset all</button>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row no-margin">
            <div class="col-md-12">
                <div class="well">

					<div class="row">
    <div class="col-lg-4" ng-if = "!vendor">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                
                <h5>Supplier</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{filters.NoOfSuppliers}}</h1>
				<i class="fa fa-user-circle-o soze" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4" ng-if = "!vendor">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                 <h5>Users</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{filters.NoOfUsers}}</h1>
				<i class="fa fa-users soze" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4" >
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                
                <h5>Product</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{filters.product}}</h1>
				<i class="fa fa-shopping-bag soze" aria-hidden="true"></i>	
            </div>
        </div>
    </div>
    <div class="col-lg-4" ng-if = "!vendor">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                
                <h5>Rejected Orders</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{filters.rejectedOrders}}</h1>
				<i class="fa fa-ban soze" aria-hidden="true"></i>
				
                
            </div>
        </div>
    </div>
		<div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                
                <h5>Delivered Orders</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{filters.DeliveredOrders}}</h1>
 				<i class="fa fa-calendar-check-o soze" aria-hidden="true"></i>	
            </div>
        </div>
    </div>
    <div class="col-lg-4" ng-if = "!vendor">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Pending Orders</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{filters.pendingOrders}}</h1>
				<i class="fa fa-clock-o soze" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
               
                <h5>Cancel Orders</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{filters.CancelOrders}}</h1>
				 <i class="fa fa-times-circle soze" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Accepted Orders</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{filters.acceptedOrders}}</h1>
				<i class="fa fa-check-circle soze" aria-hidden="true"></i>
            </div>
        </div>
    </div>
						<div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Shipped Orders</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{filters.shippedOrders}}</h1>
				<i class="fa fa-truck soze" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>


				</div>
			</div>
</div>