<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox float-e-margins shadow">
                <div class="ibox-title">
                    <h5>Delivered Orders</h5>
					<button style="float: right;color: #304151; margin-top: -6px;" class='btn' ng-click="exportData('Confirmed')">Export as Excel</button>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content ">
                    <div class="row table-size-selector">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tb-search-margin">
                            <span class="pagenumber"> Page Size :</span>
                            <select convert-to-number ng-model="listOptions.limit" ng-change="pageChanged()">
                                <option value="5" >5</option>
                                <option value="10" selected>10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 bar-display-none"></div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8 tb-search-margin">
                            <div>
                                <input ng-enter="pageChangedBySearch()" type="text" ng-model="listOptions.search" class="searchinput" placeholder="Search ">
                                <button type="button" ng-enter="pageChangedBySearch()" ng-click="pageChangedBySearch()" class="pull-right searchbutton">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped text-center table-hover  table-responsive">
                        <thead>
                            <tr>
                                <th>S.No</th>
								<th>Order No</th>
                                <th>Name</th>
                                <th>Order Method</th>
                                <th>Phone No.</th>
                                <th>Amount</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>Details</th>
                          
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in deliverList">
                                <td>{{(listOptions.skip)+$index+1}}</td>
								<td>{{data.orderNumber}}</td>
                                <td>{{data.name}}</td>
                                <td>{{data.orderMethod || '-'}}</td>
                                <td>{{data.phoneNo || '-'}}</td>
                                <td>{{data.netAmount || '-'}}</td>
                                <td>{{data.addressLine1 }}{{' '+data.addressLine2 }} ,{{' '+data.pinCode}}</td>
                                <td>{{data.city || '-'}}</td>
                                <td class="text-center">
                                    <button class="btn btn-primary" type="button" ng-click="details(data.details)"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <P>{{resultPaginationCount}}</P>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <ul uib-pagination total-items="listOptions.total" ng-model="listOptions.pageNo" items-per-page="listOptions.limit" ng-change="pageChanged()"
                                max-size="listOptions.maxSize" boundary-link-numbers="true" boundary-links="true" force-ellipses="false"
                                class="pull-right"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="orderdetails1.html">
    <div class="modal-header">
        <h3 class="modal-title">Order Details</h3>
    </div>
    <div class="modal-body" style="height: 400px;overflow-y: scroll;">
        <table id="detail1" class="table text-center table-striped dataTables-example ">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in detail1">
                    <td>{{$index+1}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.price}}</td>
                    <td>{{data.quantity}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn theme-btn pull-right" type="button" ng-click="cancel()" style="width: 90px;">Cancel</button>
    </div>
</script>