<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox float-e-margins shadow">
                <div class="ibox-title">
                    <h5>Offer</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="form-container">

                        <form novalidate name="categoryForm" ng-submit="addoffer(categoryForm.$valid)">
                            <div class="row form-group">
                                <label> Name</label>
                                <input type="text" name="name" ng-model="offer.name" placeholder="Offer Name" class="form-control" required>
                                <div class="white-error-email" ng-show="categoryForm.$submitted || categoryForm.name.$dirty && categoryForm.name.$invalid">
                                    <small ng-show="categoryForm.name.$error.required">
                                                         Name is required.
                                                    </small>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label> Description</label>
                                <textarea maxlength="100" name="name1" ng-model="offer.desc" placeholder="Description" class="form-control" required></textarea>
                                <div class="white-error-email" ng-show="categoryForm.$submitted || categoryForm.name1.$dirty && categoryForm.name1.$invalid">
                                    <small ng-show="categoryForm.name1.$error.required">
                                                       Description is required.
                                                    </small>
                                </div>
                            </div>
						
                       
                            <div class="row form-group">
                                <label>Image</label>
                                <input type="file" style="padding:0px; border: none; background: inherit;" ngf-select ng-model="file" name="file" accept="image/*"
                                    ngf-max-size="5MB" required ngf-model-invalid="errorFile">

                                <div class="white-error-email" ng-show="categoryForm.$submitted || categoryForm.file.$dirty && categoryForm.file.$invalid">
                                    <small ng-show="categoryForm.file.$error.required">
                                                       Image is required.
                                                    </small>
                                </div>

								
											<div ng-if="file">
											<img height='150px' width='150px' ngf-thumbnail="file">
											</div>

                            </div>
                            <div class="row form-group">
                                <button  class="theme-btn" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>