<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox float-e-margins shadow">
                <div class="ibox-title">
                    <h5>List Product</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content table-responsive">

                    <ul class="left-padding-none left-width" data-role="listview" data-inset="true">
                        <li>
                            <label class="control-label" style="color:#555;">Select category:</label>
                            <select id="subCategory" data-role="listview" ng-model="Category" ng-change="changeData(Category)">
                            <option value="" disabled selected> Select category</option>
							 <option value=""> All</option>
                            <option ng-repeat="data in categoryList" value="{{data._id}}">
                                {{data.name}}
                                
                            </option>
                            </select>
                        </li>
                    </ul>
                    <ul class="left-padding-none" data-role="listview" data-inset="true">
                        <li>
                            <label class="control-label" style="color:#555;">Select sub category:</label><br>
                            <select ng-disabled="!subcategoryList.length" id="subsubCategory" data-role="listview" ng-model="subCategory" ng-change="change(subCategory)">
                            <option value="" disabled selected> Select sub category</option>
                            <option ng-repeat="data in subcategoryList" value="{{data._id}}">
                                {{data.name}}
                            </option>
                            </select>
                        </li>
                    </ul>

                    <table id="productlist" class="table text-center table-striped dataTables-example list_category">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Product Image</th>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
								<th>Min Qty</th>
								<th>Description</th>
								<th>Update product</th>
                                <th>Block/UnBlock</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in ProductList">
                                <td>{{$index+1}}</td>
                                <td>
                                    <div class="image">
                                        <a ng-click="openLightboxModal($index)">
                                            <img ng-src="{{data.imageUrl.original || 'img/no-image-available.jpg'}}" style="width: 70px; height: 70px;">
                                        </a>
                                    </div>
                                </td>

                                <td>{{data.productName}}</td>
                                <td>{{data.quantity}}</td>
                                <td>{{data.basePriceUnit}}</td>
								<td>{{data.minValue}}</td>
                                <td>{{data.description || '-'}}</td>
                                <td>
                                    <button class="btn btn-primary" type="button" ng-disabled="data.isBlocked=='true'" ng-click="updateProduct(data)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                </td>
                                <td>
                                    <button class="btn btn-success" type="button" ng-if="data.isBlocked=='false'" ng-click="blockUnblockproduct(data._id,'block',$index)">
                                    <i class="fa fa-unlock-alt" ></i>
                                </button>
                                    <button class="btn btn-danger" type="button" ng-if="data.isBlocked=='true'" ng-click="blockUnblockproduct(data._id,'unblock',$index)">
                                    <i class="fa fa-lock" ></i>
                                </button>
                                </td>
						
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Update product-->
<script type="text/ng-template" id="update-template.html">
    <div class="modal-header">
        <h3 class="modal-title">Update Product</h3>
    </div>
    <div class="modal-body custom" style="height: 450px; overflow-y: scroll;">

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="ibox float-e-margins shadow">
                        <div class="ibox-content">
                            <div class="form-container">
                                  <form novalidate name="categoryForm" ng-submit="updateProduct(categoryForm.$valid)">
                                    <div class="row form-group">
                                        <label>Product Name</label>
                                        <input type="text" name="name" ng-model="update.name" placeholder="Product Name" class="form-control" required>
                                        <div class="white-error-email" ng-show="categoryForm.$submitted || categoryForm.name.$dirty && categoryForm.name.$invalid">
                                            <small ng-show="categoryForm.name.$error.required">
                                                         Name is required.
                                                    </small>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label>Price</label>
                                        <input maxlength='8' ng-pattern="/^[0-9]+(\.[0-9]*)?$/" type="text" name="price" ng-model="update.basePriceUnit" placeholder="Price"
                                            class="form-control" required>
                                        <div class="white-error-email" ng-show="categoryForm.$submitted || categoryForm.price.$dirty && categoryForm.price.$invalid">
                                            <small ng-show="categoryForm.price.$error.required">
                                                        Price is required.
                                                    </small>
                                            <small ng-show="categoryForm.price.$invalid && !categoryForm.price.$error.required">
                                Numbers Only
                            </small>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label>Product Description</label>
                                        <textarea maxlength="100" name="name1" ng-model="update.description" placeholder="Description" class="form-control" required></textarea>
                                        <div class="white-error-email" ng-show="categoryForm.$submitted || categoryForm.name1.$dirty && categoryForm.name1.$invalid">
                                            <small ng-show="categoryForm.name1.$error.required">
                                                       Description is required.
                                                    </small>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label>Min quantity</label>
                                        <input type="text" maxlength='8' ng-pattern="/^[1-9][0-9]?$/" name="qty" ng-model="update.minValue" placeholder="Product quantity"
                                            class="form-control" required>
                                        <div class="white-error-email" ng-show="categoryForm.$submitted || categoryForm.qty.$dirty && categoryForm.qty.$invalid">
                                            <small ng-show="categoryForm.qty.$error.required">
                                                        Value is required.
                                                    </small>
                                            <small ng-show="categoryForm.qty.$invalid && !categoryForm.qty.$error.required">
                                          Number greater than zero (eg 1,2,3..)
                            </small>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label>Product Image</label>
                                        <input type="file" style="padding:0px; border: none; background: inherit;" ngf-select ng-model="file" name="file"
                                            accept="image/*" ngf-max-size="5MB" required ngf-model-invalid="errorFile">

                                        <div class="white-error-email" ng-show="categoryForm.$submitted || categoryForm.file.$dirty && categoryForm.file.$invalid">
                                            <small ng-show="categoryForm.file.$error.required">
                                                       Image is required.
                                                    </small>
                                        </div>
										<div ng-if="file">
											<img height='150px' width='150px'ngf-thumbnail="file">
											</div>
                                    </div>
                                    <div class="row form-group">
                                        <button class="theme-btn" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn theme-btn pull-right" type="button" ng-click="cancel()" style="width: 90px;">Cancel</button>
    </div>
</script>