<div class="wrapper wrapper-content animated fadeInRight">
    <!--User listing-->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox float-e-margins shadow">
                <div class="ibox-title">
                    <h5>Users List</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="row table-size-selector">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tb-search-margin">
                            <span class="pagenumber"> Page Size :</span>
                            <select convert-to-number ng-model="listOptions.limit" ng-change="pageChanged()">
                                <option value="5" >5</option>
                                <option value="10" selected>10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 bar-display-none"></div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8 tb-search-margin">
                            <div>
                                <input ng-enter="pageChangedBySearch()" type="text" ng-enter="pageChangedBySearch()" ng-model="listOptions.search" class="searchinput"
                                    placeholder="Search by Phone No ">
                                <button type="button" ng-click="pageChangedBySearch()" class="pull-right searchbutton">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="listuser" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Sr no.</th>
                                    <th>Name</th>
                                    <th>Device Type</th>
									<th>Verified</th>
                                    <th>Contact No.</th>
                                    <th>Registeration Date</th>
                                    <th>Block/unblock</th>
								
                                    <!--<th>Delete</th>-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center" ng-repeat="data in usersList">
                                    <td> {{(listOptions.skip)+$index+1}}</td>
                                    <td>{{data.name ||'-'}}</td>
                                    <td>
                                        {{data.deviceType || '-'}}
                                    </td>
									<td><div ng-if="data.phoneVerified==true">Yes</div><div ng-if="data.phoneVerified==false">No</div>
									</td>
                                    <td>{{data.phoneNo}}</td>
                                    <td>{{data.registrationDate | date }}</td>
                                      <td>
                                    <button class="btn btn-success" type="button" ng-if="data.isBlocked==false" ng-click="blockUnblockuser(data._id,'block',$index)">
                                    <i class="fa fa-unlock-alt" ></i>
                                </button>
                                    <button class="btn btn-danger" type="button" ng-if="data.isBlocked==true" ng-click="blockUnblockuser(data._id,'unblock',$index)">
                                    <i class="fa fa-lock" ></i>
                                </button>
                                </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <P>{{resultPaginationCount}}</P>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <ul uib-pagination total-items="listOptions.total" ng-model="listOptions.pageNo" items-per-page="listOptions.limit" ng-change="pageChanged()"
                                max-size="listOptions.maxSize" boundary-link-numbers="true" boundary-links="true" force-ellipses="false"
                                class="pull-right"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
