<nav class="navbar-default navbar-static-side" role="navigation" id="side-navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li style="background-color: antiquewhite;" class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <a class="dropdown-toggle" dropdown-toggle href>
                        <p class="chillax-logo"><img style="height:100px; " src="img/mainlogo.png" /></p>

                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    AM
                </div>
            </li>
            <!--<li ui-sref-active="active">
                <a ui-sref="parent.dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i> <span class="nav-label">Dashboard</span> </a>
            </li>-->
			 <li ng-class="{active: $state.includes('order')}">
                <a data-toggle="tooltip" title="Orders" href="index.html"><i class="fa fa-truck" aria-hidden="true"></i> <span class="nav-label">Orders</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('order')}">
                    <li><a ui-sref="order.confirm">Confirmed Orders</a></li>
                    <li><a ui-sref="order.cancel">Canceled Orders</a></li>
                    <li><a ui-sref="order.pending">Pending Orders</a></li>
                    <li><a ui-sref="order.deliver">Delivered Orders</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('category')}">
                <a href="index.html"><i class="fa fa-database"></i> <span class="nav-label">Category</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('category')}">
                    <li ui-sref-active="active"><a ui-sref="category.create">Create</a></li>
                    <li ui-sref-active="active"><a ui-sref="category.list">View</a></li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="parent.viewsubcategory"><i class="fa fa-sitemap" aria-hidden="true"></i> <span class="nav-label">Sub Category</span> </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="product.list"><i class="fa fa-shopping-bag" aria-hidden="true"></i> <span class="nav-label">Products</span> </a>
            </li>


            <li ui-sref-active="active">
                <a ui-sref="user.list"><i class="fa fa-users" aria-hidden="true"></i> <span class="nav-label">User List</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="parent.offer"><i class="fa fa-free-code-camp" aria-hidden="true"></i> <span class="nav-label">Add Offer</span> </a>
            </li>
           

        </ul>
    </div>
</nav>